/* TODO
  - focus state of sortable HeadCell
  - focus state of selectable Row
  - focus state of Checkbox
*/
:root {
  --border-radius: 8px;
}

* {
  box-sizing: border-box;
}

[data-table-container] {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

[data-table] {
  margin: 1em 0;
  width: 100%;
  border-collapse: collapse;
  color: inherit;
}

[data-table-body] [data-table-row] {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}

[data-table-body][data-table-striped] [data-table-row] {
  border-color: rgba(0, 0, 0, 0.04);
}

[data-table-body][data-table-striped]
  [data-table-row]:nth-child(odd)
  [data-table-cell] {
  background: #f7fafc;
}

[data-table-body][data-table-hover] [data-table-row]:hover [data-table-cell] {
  background-color: #edf2f7;
}

[data-table-row][data-table-selectable] {
  cursor: pointer;
}

[data-table-head-cell] {
  font-size: 0.875em;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
}

[data-table-head-cell][data-table-sortable] {
  cursor: pointer;
}

[data-table-head-cell],
[data-table-cell] {
  text-align: left;
  padding: 16px;
}

[data-table-sort-label] {
  display: inline-flex;
  align-items: center;
}

[data-table-sort-icon] {
  display: inline-block;
  margin: 0 4px;
  width: 1em;
  height: 1em;
  opacity: 0.4;
  flex-shrink: 0;
  vertical-align: middle;
}

[data-table-sort-icon]:first-child:not(:only-child) {
  margin-left: calc(-1em - 4px);
}

[data-table-sort-icon] svg {
  display: block;
  width: 100%;
  height: 100%;
}

[data-table-sort-asc],
[data-table-sort-desc] {
  opacity: 1;
}

[data-table-input],
[data-table-search] {
  border: 1px solid #edf2f7;
  border-radius: var(--border-radius);
  padding: 0.5em 1em;
  font-size: 1em;
  line-height: 1.5;
  background: #edf2f7;
}

[data-table-input]:focus,
[data-table-search]:focus {
  border: 1px solid #e2e8f0;
  background: #fff;
  outline: none;
}

[data-table-search] {
  min-width: 240px;
}

[data-table-pagination] {
  display: inline-block;
}

[data-table-button],
[data-table-page-button] {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  padding: 0.75em;
  font-size: 1em;
  line-height: 1;
  vertical-align: middle;
}

[data-table-button] svg,
[data-table-page-button] svg {
  display: block;
  width: 100%;
  height: 100%;
}

[data-table-button] {
  border-color: #edf2f7;
  background-color: #edf2f7;
}

[data-table-button]:hover:not(:disabled),
[data-table-button]:focus {
  border-color: #e2e8f0;
  background-color: #e2e8f0;
  cursor: pointer;
  outline: none;
}

[data-table-page-button] {
  min-width: calc(2ch + 1.5em);
}

[data-table-page-button][data-table-active] {
  text-shadow: 0 0 1px currentColor;
}

[data-table-page-button]:hover:not(:disabled),
[data-table-page-button]:focus {
  border-color: #edf2f7;
  background-color: #edf2f7;
  cursor: pointer;
  outline: none;
}

[data-table-page-button-first],
[data-table-page-button-prev],
[data-table-page-button-next],
[data-table-page-button-last] {
  min-width: calc(2.5em + 2px);
  width: calc(2.5em + 2px);
  padding: 0.5em;
}

/*
  Select arrow icon before base64 encoding -
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#718096">
    <path d="M7.4 8.6l4.6 4.6 4.6-4.6L18 10l-6 6-6-6 1.4-1.4z" />
    <path fill="none" d="M0 0h24v24H0V0z" />
  </svg>
*/
[data-table-select],
[data-table-per-page] {
  border: 1px solid #edf2f7;
  border-radius: var(--border-radius);
  padding: 0.5em 2em 0.5em 1em;
  font-size: 1em;
  line-height: 1.5;
  appearance: none;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0iIzcxODA5NiI+CiAgPHBhdGggZD0iTTcuNCA4LjZsNC42IDQuNiA0LjYtNC42TDE4IDEwbC02IDYtNi02IDEuNC0xLjR6IiAvPgogIDxwYXRoIGZpbGw9Im5vbmUiIGQ9Ik0wIDBoMjR2MjRIMFYweiIgLz4KPC9zdmc+Cg=="),
    linear-gradient(to bottom, #edf2f7 0%, #edf2f7 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.5em top 50%, 0 0;
  background-size: 1.5em 1.5em, 100%; /* Match pagination arrows size */
}

[data-table-select]:focus,
[data-table-per-page]:focus {
  border: 1px solid #e2e8f0;
  outline: none;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0iIzcxODA5NiI+CiAgPHBhdGggZD0iTTcuNCA4LjZsNC42IDQuNiA0LjYtNC42TDE4IDEwbC02IDYtNi02IDEuNC0xLjR6IiAvPgogIDxwYXRoIGZpbGw9Im5vbmUiIGQ9Ik0wIDBoMjR2MjRIMFYweiIgLz4KPC9zdmc+Cg=="),
    linear-gradient(to bottom, #fff 0%, #fff 100%);
}

/*
  Checkbox icons before base64 encoding -
  Unchecked -
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#718096">
    <path d="M19 5v14H5V5h14m0-2H5a2 2 0 0 0-2 2v14c0 1.1.9 2 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2z" />
    <path d="M0 0h24v24H0z" fill="none" />
  </svg>

  Checked -
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#718096">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 3H5a2 2 0 0 0-2 2v14c0 1.1.9 2 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2zm-9 14l-5-5 1.4-1.4 3.6 3.6 7.6-7.6L19 8l-9 9z"/>
  </svg>

  Indeterminate -
  <svg xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" fill="#718096">
    <defs>
      <path id="a" d="M0 0h24v24H0z"/>
    </defs>
    <clipPath id="b">
      <use xlink:href="#a" overflow="visible"/>
    </clipPath>
    <path clip-path="url(#b)" d="M19 3H5a2 2 0 0 0-2 2v14c0 1.1.9 2 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2zm-2 10H7v-2h10v2z"/>
  </svg>
*/
[data-table-checkbox] {
  margin: 0;
  padding: 0.5em;
  appearance: none;
  line-height: 1;
  cursor: pointer;
}

[data-table-checkbox]:disabled {
  opacity: 0.4;
  cursor: default;
}

[data-table-checkbox]::before {
  display: inline-block;
  content: "";
  width: 2em;
  height: 2em;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0iIzcxODA5NiI+CiAgPHBhdGggZD0iTTE5IDV2MTRINVY1aDE0bTAtMkg1YTIgMiAwIDAgMC0yIDJ2MTRjMCAxLjEuOSAyIDIgMmgxNGEyIDIgMCAwIDAgMi0yVjVhMiAyIDAgMCAwLTItMnoiLz4KICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+Cjwvc3ZnPgo=");
}

[data-table-checkbox]:checked::before {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0iIzcxODA5NiI+CiAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPgogIDxwYXRoIGQ9Ik0xOSAzSDVhMiAyIDAgMCAwLTIgMnYxNGMwIDEuMS45IDIgMiAyaDE0YTIgMiAwIDAgMCAyLTJWNWEyIDIgMCAwIDAtMi0yem0tOSAxNGwtNS01IDEuNC0xLjQgMy42IDMuNiA3LjYtNy42TDE5IDhsLTkgOXoiLz4KPC9zdmc+Cg==");
}

[data-table-checkbox]:indeterminate::before {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIAogIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9IiM3MTgwOTYiPgogIDxkZWZzPgogICAgPHBhdGggaWQ9ImEiIGQ9Ik0wIDBoMjR2MjRIMHoiLz4KICA8L2RlZnM+CiAgPGNsaXBQYXRoIGlkPSJiIj4KICAgIDx1c2UgeGxpbms6aHJlZj0iI2EiIG92ZXJmbG93PSJ2aXNpYmxlIi8+CiAgPC9jbGlwUGF0aD4KICA8cGF0aCBjbGlwLXBhdGg9InVybCgjYikiIGQ9Ik0xOSAzSDVhMiAyIDAgMCAwLTIgMnYxNGMwIDEuMS45IDIgMiAyaDE0YTIgMiAwIDAgMCAyLTJWNWEyIDIgMCAwIDAtMi0yem0tMiAxMEg3di0yaDEwdjJ6Ii8+Cjwvc3ZnPgo=");
}
